<div *ngIf="todo && user && todo.user === user.id" class="edit_Todo">
  <h2>{{ user.name | uppercase }} Details</h2>
  <div class="form-group">
    <label for="title">title: </label>
    <input id="title" [(ngModel)]="todo.title" placeholder="title..." />
  </div>

  <div class="form-group">
    <label for="content">content:</label>
    <textarea
      class="form-control"
      id="content"
      [(ngModel)]="todo.content"
      name="content"
    ></textarea>
  </div>

  <button type="button" (click)="goBack()">go back</button>
  <button type="button" (click)="save()">save</button>
</div>

<div *ngIf="todo && (user && todo.user !== user.id || !user)" class="todo_detail">
  <h2>title: {{ todo.title | uppercase }} Details</h2>
  <p>content: {{ todo.content }}</p>

  <div class="date">update date: {{ todo.updateDate | date : "MM/dd/yy" }}</div>


  <button type="button" (click)="goBack()">go back</button>
</div>
